*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.phedmebox {
  margin: auto;
    width: 500px;
    border: 3px solid cadetblue;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
   
}
.container {
    justify-content:center;
}

nav {
    background-color: cadetblue;

}

nav ul {
    float: right;
    margin-right: 15px;
    text-transform: uppercase;
}
img {
    position: relative;
    top: -40px;
    left: 0px;
    width: 180px;
    height: 180px;
}