*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

.carousel {
    height: max-content;
    width: 100%;
    overflow: visible;
    padding-bottom: 10%;
}

img {
    height: 700px;
    width: 100vw;

}

.phedmebox {
    position: relative;
    top: 650px;
    margin: auto;
    height: 370px;
    width: 500px;
    border: 3px solid cadetblue;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    padding-bottom: 4%;
    background-color: cadetblue;
   border-radius: 8px;
}

.boxName {
    margin-left: 120px;
    display: flex;
}

.phed {
color: navy;
}

.me{
color: #ff8c00;
}

.cards-container {
   margin-top: 47%;
}

#recipe {
    background-color: #e5e5e5;
    border-radius: 2.5px;
    padding-left: 10px;
    width: 464px;
}
#recipe::placeholder{
    color: black;
}
#allergen{
    background-color: #e5e5e5;
}

#submitBtn {
    margin-top: 20px;
    width: 200px;
}

.logo {
    font-size: 42px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: navy;
    text-align: center;
    position: relative;
    top: -5px;
    margin-left: 3rem;
}

#me {
    color: #ff8c00;
}

nav {
    background-color: cadetblue;

}

nav ul {
    float: right;
    margin-right: 15px;
    text-transform: uppercase;
    position: relative;
    top: -5px;
}
/* img {
    position: relative;
    top: -40px;
    left: 0px;
    width: 180px;
    height: 180px;
} */

#warning1, #warning2, #warning3, #warning4, #warning5 {
    color: red;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    
}

.card-container {
    padding-top: 50%;

}
.card {
    display: grid;
    grid-template-columns: auto;
    margin: 5% 10%;
    border-radius: 8px;
    
}
.card-3-row {
    margin: 5% 17%;
}

/* .carousel {
    height:  500px;
    
} */